h1 {
    text-shadow: rgb(0, 21, 252) 1px 0 10px;
    background: linear-gradient(to right,aqua,blue);
}
body {
    background-color: rgb(117, 234, 154);

}
th{
    color:rgb(3, 15, 251);
}
label{
    color:rgb(9, 182, 27);
}
td{
    color:rgb(241, 4, 190);
}
caption{
    background: linear-gradient(to blue);
}